Tennis Data

In [7]:
library(tidyverse)
library(tidymodels)
library(repr)
options(repr.matrix.max.rows = 6)

In [19]:
#read_data
player_stats <- read_csv("/home/jupyter/DSCI-Proposal/player_stats.csv")
player_stats

Warning message:
“Missing column names filled in: 'X1' [1]”
Parsed with column specification:
cols(
  .default = col_character(),
  X1 = col_double(),
  `Turned Pro` = col_double(),
  Seasons = col_double(),
  Titles = col_double(),
  `Best Season` = col_double(),
  Retired = col_double(),
  Masters = col_double(),
  `Grand Slams` = col_double(),
  `Davis Cups` = col_double(),
  `Team Cups` = col_double(),
  Olympics = col_double(),
  `Weeks at No. 1` = col_double(),
  `Tour Finals` = col_double()
)

See spec(...) for full column specifications.

    X1  Age             Country        Plays        Wikipedia Current Rank
1   0   26 (25-04-1993) Brazil         Right-handed Wikipedia 378 (97)
2   1   18 (22-12-2001) United Kingdom Left-handed  Wikipedia 326 (119)
3   2   32 (03-11-1987) Slovakia       Right-handed Wikipedia 178 (280)
⋮   ⋮   ⋮               ⋮              ⋮            ⋮         ⋮
498 497 23 (14-03-1996) Netherlands    Left-handed  Wikipedia 495 (60)
499 498 24 (17-05-1995) Ukraine        NA           Wikipedia 419 (81)
500 499 22 (26-03-1997) Tunisia        Left-handed  Wikipedia 451 (69)
    Best Rank        Name                 Backhand   Prize Money  ⋯ Facebook
1   363 (04-11-2019) Oscar Jose Gutierrez NA         NA           ⋯ NA
2   316 (14-10-2019) Jack Draper          Two-handed $59,040      ⋯ NA
3   44 (14-01-2013)  Lukas Lacko          Two-handed US$3,261,567 ⋯ NA
⋮   ⋮                ⋮                    ⋮          ⋮            ⋱ ⋮
498 342 (05-08-2019) Gijs Brouwer         NA         NA           ⋯ NA
499 419 (20-01-2020) Vladyslav Orlov      NA         NA           ⋯ NA
500 408 (24-12-2018) Aziz Dougaz          Two-handed $61,984      ⋯ NA
    Twitter Nicknames Grand Slams Davis Cups Web Site Team Cups Olympics
1   NA      NA        NA          NA         NA       NA        NA
2   NA      NA        NA          NA         NA       NA        NA
3   NA      NA        NA          NA         NA       NA        NA
⋮   ⋮       ⋮         ⋮           ⋮          ⋮        ⋮         ⋮
498 NA      NA        NA          NA         NA       NA        NA
499 NA      NA        NA          NA         NA       NA        NA
500 NA      NA        NA          NA         NA       NA        NA
    Weeks at No. 1 Tour Finals
1   NA             NA
2   NA             NA
3   NA             NA
⋮   ⋮              ⋮
498 NA             NA
499 NA             NA
500 NA             NA

In [40]:
#select for desired coloumns
player_stats_data <- player_stats %>%
        rename(current_rank = "Current Rank",
              best_rank = "Best Rank",
              prize_money = "Prize Money") %>%
        select(current_rank, best_rank, prize_money, Seasons) 
player_stats_data

#create_training_data
player_stats_split <- initial_split(player_stats_data, prop = 0.70, strata = prize_money)
player_train <- training(player_stats_split)
player_test <- testing(player_stats_split)


player_train
player_test

    current_rank best_rank        prize_money  Seasons
1   378 (97)     363 (04-11-2019) NA           NA
2   326 (119)    316 (14-10-2019) $59,040      NA
3   178 (280)    44 (14-01-2013)  US$3,261,567 14
⋮   ⋮            ⋮                ⋮            ⋮
498 495 (60)     342 (05-08-2019) NA           NA
499 419 (81)     419 (20-01-2020) NA           NA
500 451 (69)     408 (24-12-2018) $61,984       2

Warning message:
“Too little data to stratify. Unstratified resampling will be used.”

    current_rank best_rank        prize_money Seasons
1   326 (119)    316 (14-10-2019) $59,040     NA
2   236 (199)    130 (10-04-2017) $374,093     2
3   31 (1398)    31 (20-01-2020)  $1,517,157   5
⋮   ⋮            ⋮                ⋮           ⋮
348 397 (89)     394 (18-11-2019) $40,724      1
349 495 (60)     342 (05-08-2019) NA          NA
350 419 (81)     419 (20-01-2020) NA          NA

    current_rank best_rank        prize_money
1   378 (97)     363 (04-11-2019) NA
2   178 (280)    44 (14-01-2013)  US$3,261,567
3   183 (273)    17 (11-01-2016)  US$6,091,971
⋮   ⋮            ⋮                ⋮
148 382 (95)     380 (11-11-2019) $57,943
149 5 (5890)     4 (06-11-2017)   $22,132,368 15th all-time leader in earnings
150 451 (69)     408 (24-12-2018) $61,984
    Seasons
1   NA
2   14
3   11
⋮   ⋮
148 NA
149 10
150  2