Tennis Data

This dataset shows the player stats of the top 500 male tennis players. It shows the age and country of the player. It displays the prize money that each athlete has won over their career by competing and placing in tournaments. A players ranking is determined throughout the season and the tournaments they play in. They gain points for winning games; these points are weighted differently depending on the prestige of the tournament or match. These rankings change on a 52 week basis. Therefore changes in ranks are very common. Our predictive question to answer after data analysis will be: “Can we use the overall ranking of a player to determine how much prize money they will earn?” Our team will use the “Tennis data: Player Stats For Top 500 Players”, to answer the question. We will need to filter through and only use the current rank, best rank, seasons and prize money columns in order to come to a conclusion for our question.

In [13]:
library(tidyverse)
library(tidymodels)
library(repr)
options(repr.matrix.max.rows = 6)

In [12]:
#read_data
url <- "https://drive.google.com/uc?export=download&id=1_MECmUXZuuILYeEOfonSGqodW6qVdhsS"
player_stats <- read_csv("https://drive.google.com/uc?export=download&id=1_MECmUXZuuILYeEOfonSGqodW6qVdhsS")
player_stats

Warning message:
“Missing column names filled in: 'X1' [1]”
Parsed with column specification:
cols(
  .default = col_character(),
  X1 = col_double(),
  `Turned Pro` = col_double(),
  Seasons = col_double(),
  Titles = col_double(),
  `Best Season` = col_double(),
  Retired = col_double(),
  Masters = col_double(),
  `Grand Slams` = col_double(),
  `Davis Cups` = col_double(),
  `Team Cups` = col_double(),
  Olympics = col_double(),
  `Weeks at No. 1` = col_double(),
  `Tour Finals` = col_double()
)

See spec(...) for full column specifications.

    X1  Age             Country        Plays        Wikipedia Current Rank
1   0   26 (25-04-1993) Brazil         Right-handed Wikipedia 378 (97)
2   1   18 (22-12-2001) United Kingdom Left-handed  Wikipedia 326 (119)
3   2   32 (03-11-1987) Slovakia       Right-handed Wikipedia 178 (280)
⋮   ⋮   ⋮               ⋮              ⋮            ⋮         ⋮
498 497 23 (14-03-1996) Netherlands    Left-handed  Wikipedia 495 (60)
499 498 24 (17-05-1995) Ukraine        NA           Wikipedia 419 (81)
500 499 22 (26-03-1997) Tunisia        Left-handed  Wikipedia 451 (69)
    Best Rank        Name                 Backhand   Prize Money  ⋯ Facebook
1   363 (04-11-2019) Oscar Jose Gutierrez NA         NA           ⋯ NA
2   316 (14-10-2019) Jack Draper          Two-handed $59,040      ⋯ NA
3   44 (14-01-2013)  Lukas Lacko          Two-handed US$3,261,567 ⋯ NA
⋮   ⋮                ⋮                    ⋮          ⋮            ⋱ ⋮
498 342 (05-08-2019) Gijs Brouwer         NA         NA           ⋯ NA
499 419 (20-01-2020) Vladyslav Orlov      NA         NA           ⋯ NA
500 408 (24-12-2018) Aziz Dougaz          Two-handed $61,984      ⋯ NA
    Twitter Nicknames Grand Slams Davis Cups Web Site Team Cups Olympics
1   NA      NA        NA          NA         NA       NA        NA
2   NA      NA        NA          NA         NA       NA        NA
3   NA      NA        NA          NA         NA       NA        NA
⋮   ⋮       ⋮         ⋮           ⋮          ⋮        ⋮         ⋮
498 NA      NA        NA          NA         NA       NA        NA
499 NA      NA        NA          NA         NA       NA        NA
500 NA      NA        NA          NA         NA       NA        NA
    Weeks at No. 1 Tour Finals
1   NA             NA
2   NA             NA
3   NA             NA
⋮   ⋮              ⋮
498 NA             NA
499 NA             NA
500 NA             NA

In [14]:
#select for desired coloumns
player_stats_data <- player_stats %>%
        rename(current_rank = "Current Rank",
              best_rank = "Best Rank",
              prize_money = "Prize Money") %>%
        select(current_rank, best_rank, prize_money, Seasons)
player_stats_data

    current_rank best_rank        prize_money  Seasons
1   378 (97)     363 (04-11-2019) NA           NA
2   326 (119)    316 (14-10-2019) $59,040      NA
3   178 (280)    44 (14-01-2013)  US$3,261,567 14
⋮   ⋮            ⋮                ⋮            ⋮
498 495 (60)     342 (05-08-2019) NA           NA
499 419 (81)     419 (20-01-2020) NA           NA
500 451 (69)     408 (24-12-2018) $61,984       2

In [15]:
player_stats_data[] <- lapply(player_stats_data, gsub, pattern="\\$", replacement="")
player_stats_data[]

player_stats_data$prize_money <- gsub("US", "", as.character(player_stats_data$prize_money))

    current_rank best_rank        prize_money Seasons
1   378 (97)     363 (04-11-2019) NA          NA
2   326 (119)    316 (14-10-2019) 59,040      NA
3   178 (280)    44 (14-01-2013)  US3,261,567 14
⋮   ⋮            ⋮                ⋮           ⋮
498 495 (60)     342 (05-08-2019) NA          NA
499 419 (81)     419 (20-01-2020) NA          NA
500 451 (69)     408 (24-12-2018) 61,984      2

In [16]:
current_rank_change <- gsub("\\s*(\\([^()]*(?:(?1)[^()]*)*\\))", "", player_stats_data$best_rank, perl=TRUE)
best_rank_change <- gsub("\\s*(\\([^()]*(?:(?1)[^()]*)*\\))", "", player_stats_data$current_rank, perl=TRUE)

In [50]:
player_stats_mutate <- mutate(player_stats_data,
    prize_money = player_stats_data$prize_money,
    current_rank = current_rank_change,
    best_rank = best_rank_change)
player_stats_mutate

    current_rank best_rank prize_money Seasons
1   363          378       NA          NA
2   316          326       59,040      NA
3   44           178       3,261,567   14
⋮   ⋮            ⋮         ⋮           ⋮
498 342          495       NA          NA
499 419          419       NA          NA
500 408          451       61,984      2

In [51]:
#create_training_data
player_stats_split <- initial_split(player_stats_mutate, prop = 0.70, strata = prize_money)
player_train <- training(player_stats_split)
player_test <- testing(player_stats_split)


player_train
player_test

Warning message:
“Too little data to stratify. Unstratified resampling will be used.”

    current_rank best_rank prize_money Seasons
1   17           183       6,091,971   11
2   31           31        1,517,157   5
3   213          307       278,709     1
⋮   ⋮            ⋮         ⋮           ⋮
348 342          495       NA          NA
349 419          419       NA          NA
350 408          451       61,984      2

    current_rank best_rank prize_money Seasons
1   363          378       NA          NA
2   316          326       59,040      NA
3   44           178       3,261,567   14
⋮   ⋮            ⋮         ⋮           ⋮
148 58           71        1,703,096   7
149 394          397       40,724      1
150 380          382       57,943      NA